<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Customer</title>
</head>
<body>
<h3 th:text="#{list.heading}"></h3>
<a href="?lang=en" id = "l">English</a> | <a href="?lang=vi">Viet Nam</a>
<p>
    <a th:href="@{/customer/create}" th:text="#{list.add}">
        Add new customer
    </a>
</p>


<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id="customer">
    <thead>
    <tr>
        <th>STT</th>
        <th th:text="#{list.name}"></th>
        <th th:text="#{list.edit}"></th>
        <th th:text="#{list.delete}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,cStatus : ${customer}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getName()}"></td>
        <td><a th:href="@{/customer/update/{id}(id=${c.getId()})}" th:text="#{list.edit}"></a></td>
        <td><a th:href="@{/customer/delete/{id}(id=${c.getId()})}" th:text="#{list.delete}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>